@{
    ViewBag.Title = "Exibe Cadastro de Aluno";
}

<br />
<fieldset>
    <legend>Aluno cadastrado:</legend>
    <div>
        <strong>Id Aluno: </strong>@ViewBag.idAluno
    </div>
    <div>
        <strong>Nome: </strong>@ViewBag.nome
    </div>
    <div>
        <strong>Email: </strong>@ViewBag.email
    </div>
</fieldset>