<div>
    @Html.ActionLink("Main", "Index")&nbsp;&nbsp;
    @Html.ActionLink("About Us", "Sobre")&nbsp;&nbsp;
    @Html.ActionLink("Cadastro Aluno", "CadastroAluno","CadastroAluno")&nbsp;&nbsp;
</div>
 