
@* ActionLink( "Name to show on browser", "Method on Controller which returns the view", "Name of Controller class" ) *@

<div>
    @Html.ActionLink("Main", "Index")&nbsp;&nbsp;
    @Html.ActionLink("About Us", "Sobre")&nbsp;&nbsp;
    @Html.ActionLink("Cadastro Aluno", "CadastroAluno","CadastroAluno")&nbsp;&nbsp;
</div>
