body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.div-top-pag{
    padding:10px;
    background:#212121;
}

.div-botton-pag {
    margin-top: 5px;
    padding: 5px;
    background: #9E9E9E;
}

.div-body {
    margin: 70px;
    min-height:300px;
}

.tittle-pag{
    color:#FAFAFA;
    padding:5px;
}

.div-menu{
    padding:5px;
    background:#9E9E9E;
}

a {
    text-decoration:none;
    color:#FAFAFA;
}

a:hover{
    color:#01579B;
}